My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        0
      ],
      "id": "e73f7880-8878-4432-8494-cc6941f4ee65",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "labelIds": [
            "UNREAD"
          ]
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -128,
        0
      ],
      "id": "271d6276-5315-4f33-90a3-1d8b688d24fe",
      "name": "gmail all mail",
      "webhookId": "7c70c9aa-1864-4490-bda5-afef4a11af87",
      "credentials": {
        "gmailOAuth2": {
          "id": "z9v9p6RVxbi9ZIQL",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.threadId }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        96,
        0
      ],
      "id": "b9f8467b-6a9e-4515-a1d8-29f43d9a2e89",
      "name": "gmail all details",
      "webhookId": "81af3958-4cd3-4758-b12c-cdcb0b1fd136",
      "credentials": {
        "gmailOAuth2": {
          "id": "z9v9p6RVxbi9ZIQL",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=i want you to draft an email in a professional way to say that i am currently not open to promotions or collaborations, but i am open for meetings and project discussions as well. i want you to reply to this email {{ $json.text }}. i want you to draft the reply and give me only the body text. my name is john. write this in proper english.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        304,
        0
      ],
      "id": "f6e355da-b6b5-4896-b6d5-dba16f526854",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        176,
        208
      ],
      "id": "ba3309e7-64af-43b3-8a22-26d31a75d6da",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "VS1fvkq7PWdCnOcr",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appTvaYI0LwiLO50T",
          "mode": "list",
          "cachedResultName": "email",
          "cachedResultUrl": "https://airtable.com/appTvaYI0LwiLO50T"
        },
        "table": {
          "__rl": true,
          "value": "tblR2kSdNfnIobe0Q",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appTvaYI0LwiLO50T/tblR2kSdNfnIobe0Q"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sender name": "={{ $('gmail all details').item.json.from.value[0].name }}",
            "from email": "={{ $('gmail all details').item.json.from.value[0].address }}",
            "email body": "={{ $('gmail all details').item.json.text }}",
            "body draft reply": "={{ $json.output }}",
            "thread id": "={{ $('gmail all details').item.json.threadId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sender name",
              "displayName": "sender name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "from email",
              "displayName": "from email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email body",
              "displayName": "email body",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "body draft reply",
              "displayName": "body draft reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "thread id",
              "displayName": "thread id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        656,
        0
      ],
      "id": "72472749-2f22-4193-a58b-dbfdcb02a4c5",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "eAdCSuzJBAiHC6rU",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.fields['thread id'] }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        864,
        0
      ],
      "id": "3bd2d88a-784a-44ad-9956-b093f468084f",
      "name": "Mark a message as read",
      "webhookId": "524cf1fa-fbdb-4b03-b1ba-136034981340",
      "credentials": {
        "gmailOAuth2": {
          "id": "z9v9p6RVxbi9ZIQL",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "gmail all mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmail all mail": {
      "main": [
        [
          {
            "node": "gmail all details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmail all details": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "75efbb4c-cf7f-48b6-864f-1175d5dc7a31",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f32220daea7dfccfc6c0c2166fc56ed27529d4dd4b12770f9f515a44aeec2d5a"
  },
  "id": "R5Y0cWAOw6SyAEOC",
  "tags": []
}